.sticky-table-container{
    position: sticky;
    top: 60px;
    z-index: 999;
    background-color: var(--vz-secondry-color);
    
  }
  
  .sticky-table-container .table-responsive {
    height: calc(100vh - 320px); 
    display: flex;
    flex-direction: column;
  }
  
 
  .sticky-table-container .table-responsive > div:last-child {
    flex: 1;
    overflow-y: auto;
    
  }

  .table-heading  > th {
    background-color: var(--vz-secondry-color);

  }

html[data-bs-theme='light'] {
  --optionchain-thead-bg: #f5f6fa;   
  --optionchain-thead-color: #222;  
}
html[data-bs-theme='dark'] {
  --optionchain-thead-bg: #23272e;  
  --optionchain-thead-color: #f5f6fa;
}

.sticky-table-container th {
  background: var(--optionchain-thead-bg) !important;
  color: var(--optionchain-thead-color) !important;
  position: sticky;
  top: 0;
  z-index: 10;
}



