.parallax {
    background-image: url('../../../assets/images/hero/coworking2.jpg'); /* Adjust the path to your image */
    height: 500px; /* Adjust the height as needed */
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  }
  
  .parallax-content {
    text-align: center;
  }
  